{%- liquid
	if customer
  	assign profile_link = routes.account_url
	else
  	assign profile_link = routes.account_login_url
	endif
-%}
<div class="thb-secondary-area thb-header-right">
	<a class="thb-secondary-area-item thb-quick-search" href="{{ routes.search_url }}" title="{{ 'sections.header.search' | t }}">
      <div class="thb-secondary-area-shanebg">{%- render 'svg-icons' with 'search' -%}</div>      
    </a>
	{%- if shop.customer_accounts_enabled -%}
    <a class="thb-secondary-area-item thb-secondary-myaccount" href="{{ profile_link | escape }}" title="{{ 'sections.header.my_account' | t }}">
      <div class="thb-secondary-area-shanebg">{%- render 'svg-icons' with 'myaccount' -%}</div>  
    </a>
  {%- endif -%}
	<a class="thb-secondary-area-item thb-secondary-cart" href="{{ routes.cart_url }}" id="cart-drawer-toggle">
      <div class="thb-secondary-area-shanebg">
        <div class="thb-secondary-item-icon">
           {% render 'svg-icons' with 'cart' %}
            <span class="thb-item-count">{%- if cart.item_count > 99 -%}{%- render 'svg-icons' with 'thb-asterisk' -%}{%- else -%}{{ cart.item_count }}{%- endif -%}</span>
        </div>
      </div>
    </a>
</div>
