{% assign badge_position = settings.badge_position %}
{% unless product_card_product.available %}
<span class="badge out-of-stock {{ badge_position }}" style="display:none;">{{ 'products.product.sold_out' | t }}</span>
<img src="https://cdn.shopify.com/s/files/1/0679/6538/6990/files/Sold-out.png?v=1706240484" style="width:14%; position:absolute; top:5%; right:5%; z-index:9; height:auto;display:none;">
{% endunless %}
{% if product_card_product.compare_at_price > product_card_product.price and product_card_product.available %}
{%- if settings.sale_badge_type == 'save_amount' -%}
  {%- capture saved_amount -%}{{ product_card_product.compare_at_price | minus: product_card_product.price | money }}{%- endcapture -%}
{%- elsif settings.sale_badge_type == 'save_percentage' -%}
  {%- capture saved_amount -%}{{ product_card_product.compare_at_price | minus: product_card_product.price | times: 100.0 | divided_by: product_card_product.compare_at_price | round }}%{%- endcapture -%}
{%- endif -%}
<span class="badge onsale {{ badge_position }}" style="display:none;">
	{%- if settings.sale_badge_type == 'sale' -%}
	{{ 'products.product.on_sale' | t }}
	{%- else -%}
	{{ 'products.product.save_html' | t: saved_amount: saved_amount }}
	{%- endif -%}
</span>
{% endif %}
