<style>
  .shane-menu-down>a{
    display: block;
    font-size: 2.2vw;
    padding-left: 3vw;
  }
  .shane-menu-fromleft.shane-menu-fromleft-new{
    width: 100%;
    max-height: 100vh;
    height: fit-content;
    left: 0px;
    top: calc(100vw* 115 / 1920); 
    border-radius: inherit;
    /* z-index: -300; */
    background: #F4F0E6;
  }
  .shane-menu-fromleft .menu-list{
    padding: calc(100vw * 13 / 1920);
    background-color: #fff;
  }
  .shane-menu-fromleft .menu-list .menu-item{
    background-color: #F7F7F7;
    margin-bottom: calc(100vw * 15 / 1920);
    padding: calc(100vw * 22 / 1920)  calc(100vw * 20 / 1920);
    display: flex;
    justify-content: space-between;
  }
  .shane-menu-fromleft .menu-list .menu-item .line-left{
    
  }
  .shane-menu-fromleft .menu-list .menu-item .line-left .left-tag{
    display: flex;
    margin-bottom: calc(100vw * 17 / 1920);
  }
  .shane-menu-fromleft .menu-list .menu-item .line-left .left-tag .tag-item{
    padding: calc(100vw * 5 / 1920) calc(100vw * 17 / 1920);
    border-radius: calc(100vw * 18 / 1920);
    border: calc(100vw * 1 / 1920) solid #FF5F00;
    margin-right: calc(100vw * 10 / 1920);
		font-family: Outfit-Regular;	
  }
  .shane-menu-fromleft .menu-list .menu-item .line-left .left-text{
    display: flex;
    align-items: flex-end;
    margin-bottom: calc(100vw * 17 / 1920);
  }
  .shane-menu-fromleft .menu-list .menu-item .line-left .left-text .left-title{
    font-size: calc(100vw * 50 / 1920);
    font-style: normal;
    font-weight: 600;
    line-height: calc(100vw * 54 / 1920); /* 108% */
    margin-right: calc(100vw * 30 / 1920);
		font-family: "Outfit-Bold";	
  }
  .shane-menu-fromleft .menu-list .menu-item .line-left .left-text .left-subtitle{
    font-size: calc(100vw * 30 / 1920);
    font-style: normal;
    font-weight: 400;
    line-height: calc(100vw * 36 / 1920); /* 120% */
		font-family: Outfit-Regular;	
  }
  .shane-menu-fromleft .menu-list .menu-item .line-left .left-content{
    font-size: calc(100vw * 20 / 1920);
    font-style: normal;
    font-weight: 400;
    line-height: calc(100vw * 20 / 1920); /* 100% */
		font-family: Outfit-Regular;	
  }
  .shane-menu-fromleft .menu-list .menu-item .line-right{
    display: grid;
     direction: rtl;
  }
  .shane-menu-fromleft .menu-list .menu-item .line-right .right-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: calc(100vw* 10 / 1920) calc(100vw* 14 / 1920);
  }
  .shane-menu-fromleft .menu-list .menu-item .line-right .right-item:hover{
    background-color: #F4F0E6;
    
  }
  .shane-menu-fromleft .menu-list .menu-item .line-right .right-item.active{
    background-color: #F4F0E6;
  }
  .shane-menu-fromleft .menu-list .menu-item .line-right .right-item .item-title{
    color: #333;
    text-align: center;
    font-size: calc(100vw* 16 / 1920);
    font-style: normal;
    font-weight: 400;
    line-height: calc(100vw* 16 / 1920); /* 100% */
    margin-top: calc(100vw* 15 / 1920);
    text-transform: capitalize;
    text-wrap: balance;
    unicode-bidi: plaintext;
    
  }
  .shane-menu-fromleft .menu-list .menu-item .line-right.line-right-frist{
    grid-template-columns: repeat(7, 1fr);
    grid-gap: calc(100vw* 20 / 1920);
    width:calc(100vw* 1214 / 1920);
    
  }
  .shane-menu-fromleft .menu-list .menu-item .line-right.line-right-last{
    grid-template-columns: repeat(3, 1fr);
    grid-gap: calc(100vw* 20 / 1920);
    width:calc(100vw* 1044 / 1920);
    
  }
</style>

    <div class="shane-menu-fromleft" id="shane-menu-fromleft">
      {% comment %} <div class="menu-list">
      {% for block in header_blocks %}
        {% if block.type == 'menulist' %}
            <div class="menu-item" >
              <div class='line-left'>
                  <div class='left-tag'>
                    {% for item in block.settings.collection.all_tags %}
                      <div class='tag-item'> 
                        {{ item }}
                      </div>
                    {% endfor %}
                     
                  </div>
                  <div class='left-text'>
                    <div class='left-title'>
                       {{ block.settings.collection.title }}
                     </div>
                     <div class='left-subtitle'>
                      {% assign variable = block.settings.collection.products | size %}
                      01
                      {% if variable > 0 %}
                        {% if variable  < 10 %}
                          -0{{ variable}}
                        {% endif %}
                        {% if variable >= 10 %}
                          -{{ variable }}
                        {% endif %}
                      {% endif %}
                      
                     </div>
                  </div> 
                  <div class='left-content'> 
                     {{ block.settings.collection.description }}
                  </div>
               </div>
               
               {% assign prosize = block.settings.collection.products | size %}
               {% if prosize >3 %}
                <div class='line-right line-right-frist'> 
                {% for item in block.settings.collection.products %}
                  <a href="{{ item.url }}"  class='right-item ' >
                    {% assign content = item.metafields.custom.title_grop.value.meshi.value %}
                    {% assign img = item.metafields.custom.title_grop.value.myimg.value %}
                    <img src="{{ img | image_url }}"> 
                    <div class='item-title'>{{  content }}</div>
                  </a>
                {% endfor %}
                  
                </div>
               {% endif %}
               {% if prosize <= 3 %}
                <div class='line-right line-right-last'> 
                {% for item in block.settings.collection.products %}
                  <a href="{{ item.url }}"  class='right-item'>
                    {% assign content = item.metafields.custom.title_grop.value.meshi.value %}
                    {% assign img = item.metafields.custom.title_grop.value.myimg.value %}
                    <img src="{{ img | image_url }}"> 
                    <div class='item-title'>{{  content }}</div>
                  </a>
                {% endfor %}
                  
                </div>
                
               {% endif %}
           
            </div>
        {% endif %}
      {% endfor %} 
    </div> {% endcomment %}
       <div>
        <a><h2>Shop <span class="fa fa-angle-down"></span></h2></a>
        <div class="shane-menu-down">
          <a href="/products/blokees-figures-transformers-galaxy-version-01-roll-out">Transformers Galaxy Version 01 Roll Out</a>
          <a href="/products/blokees-figures-transformers-galaxy-version-02-sos">Transformers Galaxy Version 02 SOS</a>
          <a href="/products/blokees-figures-transformers-classic-class-01">Transformers Classic Class</a>
        </div>
      </div>
      <div><a href="/pages/about-us"><h2>About</h2></a></div>
      <div><a href="/pages/contact"><h2>Contact</h2></a></div> 
    </div>

  
