	<div class="circulate-content">
		<!-- 这里放入需要滚动的内容 -->
		<img src="https://cdn.shopify.com/s/files/1/0679/6538/6990/files/home-2024011101.png?v=1705660848">
		<span>{{ section.settings.title }}</span>
		<img src="https://cdn.shopify.com/s/files/1/0679/6538/6990/files/home-2024011101.png?v=1705660848">
		<span>{{ section.settings.title }}</span>
		<img src="https://cdn.shopify.com/s/files/1/0679/6538/6990/files/home-2024011101.png?v=1705660848">
		<span>{{ section.settings.title }}</span>
		<img src="https://cdn.shopify.com/s/files/1/0679/6538/6990/files/home-2024011101.png?v=1705660848">
		<span>{{ section.settings.title }}</span>
	</div>
	<div class="circulate-content circulate-content-clone">
		<!-- 这里放入需要滚动的内容 -->
		<img src="https://cdn.shopify.com/s/files/1/0679/6538/6990/files/home-2024011101.png?v=1705660848">
		<span>{{ section.settings.title }}</span>
		<img src="https://cdn.shopify.com/s/files/1/0679/6538/6990/files/home-2024011101.png?v=1705660848">
		<span>{{ section.settings.title }}</span>
		<img src="https://cdn.shopify.com/s/files/1/0679/6538/6990/files/home-2024011101.png?v=1705660848">
		<span>{{ section.settings.title }}</span>
		<img src="https://cdn.shopify.com/s/files/1/0679/6538/6990/files/home-2024011101.png?v=1705660848">
		<span>{{ section.settings.title }}</span>
	</div>
{% schema %}
  {
    "name": "Circulate",
    "class": "shane-circulate",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Explore The Fun Of Building"
	  }
    ],
    "presets": [
       {
        "name": "Circulate"
          
       }
    ]
  }
{% endschema %}