<style>
	.shane-collections-block01{
		width: 100%; background: linear-gradient(226deg, #111111 0%, #2A2A2A 100%); color: #fff; padding-top: 4vw; padding-bottom: 5vw;
	}
	.shane-collections-block01>div{
		width: 94%; margin: auto; position: relative; border-top: 1px solid #fff; padding-top: 2vw;
	}
	.shane-collections-block01 h2{
		margin: 0; width: 70%; font-size: 3.6vw; line-height: 4vw; color:#fff;
	}
	.shane-collections-block01 .subtitle{
		width:35vw; font-size: 1.4vw; margin-top: 1vw;
	}
	.shane-collections-block01 .text{
		display:flex; justify-content: space-between; align-items: flex-start; font-size: 1vw; width: 40%; margin-top: 12vw;
	}
	.shane-collections-block01 .text>div{
		width:48%;
	}
	.shane-collections-block01 .collections-img1{
		width: 50%; position: absolute; right: 0; bottom: 0; z-index: 2;
	}
    .shane-collections-block01 .collections-img1 img{
      width:100%;
    }
	.shane-collections-block01 .collections-img2{
		width: 32vw; position: absolute; right: -1vw; top: -2vw; z-index: 1;
	}
	.shane-collections-block01 .collections-img3{
		 position: absolute; left: 4vw; top: 22vw; z-index: 1;
	}
@media (max-width: 768px){
	.shane-collections-block01{
		padding-top: 8vw; padding-bottom: 7vw;
	}
	.shane-collections-block01>div{
		border-top: 0;
	}
	.shane-collections-block01 h2{
		margin: 0; width: 100%; font-size: 9vw; line-height: 11vw;
	}
	.shane-collections-block01 .subtitle{
		width:65vw; font-size: 4.6vw; margin-top: 1vw;
	}
	.shane-collections-block01 .text{
		display:block; font-size: 3vw; width: 100%; margin-top: 4vw; margin-bottom: 4vw;
	}
	.shane-collections-block01 .text>div{
		width:100%;
	}
	.shane-collections-block01 .text>div:last-child{
		width:50%; margin-top: 4vw;
	}
	.shane-collections-block01 .collections-img1{
		width: 100%; position: relative; z-index: 2;
	}
	.shane-collections-block01 .collections-img2{
		width: 40vw; position: absolute; right: -1vw; top: auto; bottom: 50vw; z-index: 0;
	}
	.shane-collections-block01 .collections-img3{
		 display: none;
	}
}
</style>
	<div>
		<h2>{{ section.settings.heading }}</h2>
		<div class="subtitle">{{ section.settings.subheading }}</div>
		<div class="text">
			<div>{{ section.settings.text1 }}</div>
			<div>{{ section.settings.text2 }}</div>
		</div>
		<div class="collections-img1 swiper collB1Swiper">
          <div class="swiper-wrapper">
            {%- for block in section.blocks -%}
				<div class="swiper-slide"><img src="{{ block.settings.block_image | image_url }}"></div>
             {% endfor %}
          </div>
          <div class="swiper-pagination"></div>
        </div>
		<img src="{{ section.settings.image2 | image_url }}" class="collections-img2 wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.5s" data-wow-offset="200">
		<img src="https://cdn.shopify.com/s/files/1/0679/6538/6990/files/star-icon.png?v=1706096278" class="collections-img3">
    </div>
{% schema %}
  {
    "name": "collections block01",
    "class": "shane-collections-block01",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading"
	  },
      {
        "type": "text",
        "id": "subheading",
        "label": "Subheading"
	  },
      {
        "type": "textarea",
        "id": "text1",
        "label": "Text 1",
        "default": "Dive into the cosmic realm with Blokees Ultraman Galaxy Versions 01-06 collection. Each mystery box holds the suspense of discovering your favorite heroes, from the Giants of Light in Version 01 to the captivating legends of Version 06. Assemble the destiny-altering figures with our DIY Assemble Kit Toy – no glue, no cutters, just pure creative joy."
      },
      {
        "type": "textarea",
        "id": "text2",
        "label": "Text 2",
        "default": "Officially licensed and suitable for builders aged 12 and older, these figures stand 10 cm tall and feature 20 movable joints for dynamic poses. Join the cosmic adventure and collect all the Galaxy Versions to complete your Ultraman universe!"
      },
      {
        "type": "image_picker",
        "id": "image2",
        "label": "Image"
      }
    ],
     "blocks": [
       {
         "type": "item",
         "name": "item",
         "settings": [
            {
              "type": "image_picker",
              "id": "block_image",
              "label": "Image"
            }
         ]
       }
    ],
    "presets": [
       {
        "name": "collections block01"
          
       }
    ]
  }
{% endschema %}
<script>
    var collB1Swiper = new Swiper(".collB1Swiper", {
	  loop: true,
      pagination: {
        el: ".swiper-pagination",
      },
    });
</script>