<style>
	.shane-home-about{
		width:100%; min-height: 30vw; background-color: #FF5F00; color: #F4F0E6; padding-top: 7vw; position: relative; overflow: hidden;
	}
	.shane-home-about>div{
		width: 94%; margin: auto;
	}
	.home-about-proshow{
		position: relative; height: 39.5vw; width: 100%;
	}
	.home-about-proshow img{
		position: absolute; transition: 0.2s;
	}
	.proshow-01{
		left: 0; height: 100%; top: 0;
	}
	.proshow-02{
		left: 21.2%; height: 100%; top: 0;
	}
	.proshow-03{
		left: 48.6%; height: 100%; top: 0;
	}
	.proshow-04{
		right: 0; height: 100%; top: 0;
	}
	.proshow-05{
		height: auto; width: 90%; left: 5%; bottom: -10px;
	}
	.proshow-01:hover, .proshow-02:hover, .proshow-03:hover, .proshow-04:hover{
		top:-10px;
	}
	.home-about-context{
		width: 90%; margin: auto; min-height: 10vw; padding: 90px 0 30px; position: relative;
	}
	.home-about-qywh{
		position: absolute; left: 0; top: 90px; width: 50%; display: flex; justify-content: flex-start; flex-wrap: wrap;
	}
	.home-about-qywh>div{
		border:1px solid #fff; height: 2vw; border-radius: 1vw; line-height: 2vw; display: flex; justify-content: flex-start; font-size: 1.1vw; margin-bottom: 0.5vw;
	}
	.home-about-qywh .about-whtitle{
		font-family: Outfit-Bold; color: #FF5F00; text-transform: uppercase; background-color: #fff; border-radius: 1vw; text-align: center; width: 6.5vw;
	}
	.home-about-qywh .about-whtext{
		padding: 0 1.4vw;
	}
	.home-about-text{
		position: absolute; right: 0; top: 15%; width: 46%; height: auto; padding: 1.5vw 2.5vw 1.5vw 1.5vw; display: flex; justify-content: flex-start; align-content: space-between; flex-wrap: wrap;
	}
	.home-about-text span{
		font-size: 1vw; display: block; width: 100%;
	}
	.home-about-link{
		width: 200px; margin-top:1vw;
	}
	.home-about-link .shane-button-02{
		width: 100%; border: 1px solid #ffffff; color: #fff; background-color: #ffffff00;
	}
	.home-about-link .btn__bg{
		background-color: #ffffff;
	}
	.home-about-link .btn__circle-02 span{
		color: #fff;
	}
	.home-about-link .shane-button-02:hover{
		color: #FF5F00;
	}
	.home-about-link .shane-button-02:hover span{
		color: #FF5F00;
	}
	@media (max-width: 1400px){
		.home-about-context{
			padding: 120px 0 30px;
		}
		.home-about-text{
			top: 29%;
		}
	}
@media (max-width: 768px){
	.shane-home-about{
		min-height: 100vw;
	}
	.proshow-05{
		width: 96%; left: 2%;
	}
	.home-about-context {
		width: 100%;
		padding: 8vw 0 7vw;
	}
	.home-about-qywh{
		position: static; width: 100%; margin-bottom: 2vw;
	}
	.home-about-qywh>div {
		border: 1px solid #fff;
		width: 100%;
		height: 10vw;
		border-radius: 5vw;
		line-height: 10vw;
		font-size: 4vw;
		margin-bottom: 2vw;
	}
	.home-about-qywh .about-whtitle{
		border-radius: 5vw; width: 26vw;
	}
	.home-about-qywh .about-whtext{
		width: 74vw; font-size: 3.2vw; line-height: 3.6vw; display: flex; justify-content: flex-start; align-items: center;
	}
	.home-about-text{
		top: 25vw; width: 100%; padding: 1.5vw 3vw; justify-content: flex-start;
	}
	.home-about-text span {
		font-size: 3.2vw;
	}
    .home-about-link{
		margin-top:3vw;
	}
}
</style>
    {%- liquid
      assign image_1 = section.settings.image_1
      assign image_2 = section.settings.image_2
      assign image_3 = section.settings.image_3
      assign image_4 = section.settings.image_4
      assign image_5 = section.settings.image_5
      assign image_bg = section.settings.image_bg
      assign image_bg_m = section.settings.image_bg_m
     -%}
	<div>
		<div class="home-about-proshow">
			<img src="{{ image_1 | image_url }}" class="proshow-01 wow fadeInLeftBig" data-wow-duration="1s" data-wow-delay="0.6s" data-wow-offset="200">
			<img src="{{ image_2 | image_url }}" class="proshow-02 wow fadeInLeftBig" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="200">
			<img src="{{ image_3 | image_url }}" class="proshow-03 wow fadeInRightBig" data-wow-duration="1s" data-wow-offset="200">
			<img src="{{ image_4 | image_url }}" class="proshow-04 wow fadeInRightBig" data-wow-duration="1s" data-wow-delay="0.4s" data-wow-offset="200">
			<img src="{{ image_5 | image_url }}" class="proshow-05 wow fadeInDown" data-wow-duration="0.4s" data-wow-delay="1s" data-wow-offset="200">
		</div>
		<div class="home-about-context">
			<div class="home-about-qywh">
				<div>
					<div class="about-whtitle">{{ section.settings.title_1st }}</div>
					<div class="about-whtext">{{ section.settings.info_1st }}</div>
				</div>
                {% if section.settings.title_2nd != blank %}
                <div>
					<div class="about-whtitle">{{ section.settings.title_2nd }}</div>
					<div class="about-whtext">{{ section.settings.info_2nd }}</div>
				</div>
                {% endif %}
                {% if section.settings.title_3tr != blank %}
                <div>
					<div class="about-whtitle">{{ section.settings.title_3tr }}</div>
					<div class="about-whtext">{{ section.settings.info_3tr }}</div>
				</div>
                {% endif %}
			</div>
			<img src="{{ image_bg | image_url }}" style="width: 100%;" class="pc_show">
			<img src="{{ image_bg_m | image_url }}" style="width: 100%;" class="mobile_show">
			<div class="home-about-text">
				<span>{{ section.settings.text }}</span>
                <div class="home-about-link">
					<a class="shane-button-02" href="{{ section.settings.link }}">
						<div class="btn__bg"></div>
						<div class="btn__label-02">{{ section.settings.buttontext }}</div>
						<div class="btn__circle-02">
							<span class="fa fa-arrow-up"></span>
						</div>
					</a>
				</div>
			</div>              
		</div>		
	</div>
{% schema %}
  {
    "name": "Home about",
    "class": "shane-home-about",
    "settings": [
      {
        "type": "image_picker",
        "id": "image_1",
        "label": "Image left"
      },
      {
        "type": "image_picker",
        "id": "image_2",
        "label": "Image left center"
      },
      {
        "type": "image_picker",
        "id": "image_3",
        "label": "Image center right"
      },
      {
        "type": "image_picker",
        "id": "image_4",
        "label": "Image right"
      },
      {
        "type": "image_picker",
        "id": "image_5",
        "label": "Image buttom logo"
      },
      {
        "type": "text",
        "id": "title_1st",
        "label": "Title 1",
        "default": "MISSION"
      },
      {
        "type": "text",
        "id": "info_1st",
        "label": "Info. 1"
      },
      {
        "type": "text",
        "id": "title_2nd",
        "label": "Title 2",
        "default": "VALUES"
      },
      {
        "type": "text",
        "id": "info_2nd",
        "label": "Info. 2"
      },
      {
        "type": "text",
        "id": "title_3tr",
        "label": "Title 3",
        "default": "VISION"
      },
      {
        "type": "text",
        "id": "info_3tr",
        "label": "Info. 3"
      },
      {
        "type": "image_picker",
        "id": "image_bg",
        "label": "Image ba"
      },
      {
        "type": "image_picker",
        "id": "image_bg_m",
        "label": "Image bg mobile"
      },
      {
        "type": "textarea",
        "id": "text",
        "label": "Text",
        "default": "text"
      },      
      {
        "type": "url",
        "id": "link",
        "label": "Link"
      },
      {
        "type": "text",
        "id": "buttontext",
        "label": "Button Text",
        "default": "Find Out More"
      }
      
    ],
    "presets": [
       {
        "name": "Home about"
          
       }
    ]
  }
{% endschema %}