<div class="row product-grid-new">
<div class="small-12 columns">
<div class="multicolumn__inner text-left">
<div class="row align-stretch no-padding">
{% for item in collection.products %}
    {%- liquid
        assign product_card_product = item
    	assign products_hover_images = settings.products_hover_images
    	assign product_aspect_ratio = settings.product_aspect_ratio
    	assign product_content_alignment = settings.product_content_alignment
    	assign featured_media = item.featured_media
    	assign product_price_position = settings.product_price_position
    	assign ratio = 1
    	assign sizes = '298x298,408x408'
    	assign info_spacing = true
    	assign product_card_border = settings.product_card_border
    	assign product_card_shadow = settings.product_card_shadow
    	assign product_card_shadow_class = 'has-shadow--' | append: product_card_shadow
    
    	if featured_media.media_type != 'image'
    		assign featured_media = featured_media.preview_image
    	endif
    	if product_aspect_ratio == 'adapt'
    		assign ratio = featured_media.aspect_ratio
    		assign sizes = '298x0,408x0'
    	elsif product_aspect_ratio == 'portrait'
    		assign ratio = 1 | divided_by: 1.25
    		assign sizes = '298x350,596x700'
    	elsif product_aspect_ratio == 'landscape'
    		assign ratio = 1 | divided_by: 0.75
    		assign sizes = '298x250,596x500'
    	endif
    
    	assign color_body_bg = settings.color_body_bg | downcase
    	assign color_product_card_bg = settings.color_product_card_bg | downcase
    
    
    
    	if color_body_bg == color_product_card_bg or color_product_card_bg == 'transparent' or color_product_card_bg == 'rgba(0,0,0,0)'
    		unless product_card_border
    			assign info_spacing = false
    		endunless
    		if product_card_shadow
    			assign info_spacing = true
    		endif
    	endif
    
    	assign is_purchasable = false
    	if product_card_product.available and product_card_product.variants.size == 1
    		assign is_purchasable = true
    	endif
    -%}
    <div class="multicolumn__column small-12 medium-4 product-grid-new-item">
        <div class="product-grid-new-block">
          <product-card class="product-card text-left product-card--content-spacing-true has-shadow--false">
            <figure class="product-featured-image {% if products_hover_images and item.images.size > 1 %}thb-hover{% endif %}">
              <a href="{{ product_card_product.url  }}" title="{{ product_card_product.title | escape }}" class="product-featured-image-link aspect-ratio aspect-ratio--{{ settings.product_aspect_ratio }}" style="--padding-bottom: {{ 1 | divided_by: ratio | times: 100 }}%;">
                {%- if products_hover_images and product_card_product.images.size > 1 -%}
                  {%- render 'responsive-image', class: 'product-secondary-image product-grid-new-image-feature', image: product_card_product.images[1], sizes: '298x298' -%}
                {%- endif -%}
                {%- if featured_media -%}
                  {%- render 'responsive-image', class: 'product-primary-image product-grid-new-image-feature', image: featured_media, sizes: '298x298' -%}
                {%- else -%}
                    <div class="thb-placeholder">
                        {{ 'product-1' | placeholder_svg_tag }}
                    </div>
                {%- endif -%}
          
          			{%- if settings.enable_quick_view -%}
            			<quick-view class="product-card-quickview" data-product-handle="{{ product_card_product.handle }}" tabindex="-1">
            				<div class="loading-overlay">{% render 'svg-icons' with 'thb-loading' %}</div>
            				<span>{{ 'products.product.quick_view' | t }}</span>
            			</quick-view>
          			{%- endif -%}
              </a>
            </figure>
          
            <div class="product-grid-new-detail">
              <div class="product-grid-new-title">
                <span>{{item.title}}</span>
              </div>
              <div class="product-grid-new-price-reviews">
                <span class="product-grid-new-price">{{item.price | money}}</span>
                <!-- Start of Judge.me code --> 
                  <span class="product-grid-new-reviews"><div class="star-rating" data-id='{{ item.id }}' style='{{ jm_style }}'></div> {{ item.metafields.judgeme.badge }}</span>
                <!-- End of Judge.me code -->
                {% comment %}
                  <span class="product-grid-new-reviews"><div class="star-rating" style="--star-rating: {{ item.metafields.custom.reviews_star | split:"@" | first }};"></div>{{ item.metafields.custom.reviews_star | split:"@" | last }}reviews</span>
                {% endcomment %}
              </div>
            </div>
            <div class="product-grid-new-line"><hr class="product-information--separator"></div>
            <div class="product-grid-new-attribute">
                {% comment %} 开始for循环 {% endcomment %}
                <div class="product-grid-new-attribute-content">
                  <div class="product-grid-new-attribute-content-div">
                    <span class="product-grid-new-attribute-icon">
                        <img data-src="{{ section.settings.one_image | image_url }}"  width="42" height="42" class="lazyload" />
                    </span>
                    <span class="product-grid-new-attribute-right">
                      <div class="product-grid-new-attribute-right-div">
                        <span class="product-grid-new-attribute-title">{{ section.settings.one_name }}</span>
                        <span class="product-grid-new-attribute-value">{{item.metafields.my_fields.speed}}</span>
                      </div>
                    </span>
                  </div>
                </div>
                {% comment %} 结束for循环 {% endcomment %}
                <div class="product-grid-new-attribute-content">
                  <div class="product-grid-new-attribute-content-div">
                    <span class="product-grid-new-attribute-icon">
                      <img data-src="{{ section.settings.two_image | image_url }}"  width="42" height="42" class="lazyload" />
                    </span>
                    <span class="product-grid-new-attribute-right">
                      <div class="product-grid-new-attribute-right-div">
                        <span class="product-grid-new-attribute-title">{{ section.settings.two_name }}</span>
                        <span class="product-grid-new-attribute-value">{{item.metafields.custom.max_range}}</span>
                      </div>
                    </span>
                  </div>
                </div>
                <div class="product-grid-new-attribute-content">
                  <div class="product-grid-new-attribute-content-div">
                    <span class="product-grid-new-attribute-icon">
                      <img data-src="{{ section.settings.three_image | image_url }}"  width="42" height="42" class="lazyload" />
                    </span>
                    <span class="product-grid-new-attribute-right">
                      <div class="product-grid-new-attribute-right-div">
                        <span class="product-grid-new-attribute-title">{{ section.settings.three_name }}</span>
                        <span class="product-grid-new-attribute-value">{{item.metafields.custom.rate_power}}</span>
                      </div>
                    </span>
                  </div>        
                </div>
                <div class="product-grid-new-attribute-content">
                  <div class="product-grid-new-attribute-content-div">
                    <span class="product-grid-new-attribute-icon">
                      <img data-src="{{ section.settings.four_image | image_url }}"  width="42" height="42" class="lazyload" />
                    </span>
                    <span class="product-grid-new-attribute-right">
                      <div class="product-grid-new-attribute-right-div">
                        <span class="product-grid-new-attribute-title">{{ section.settings.four_name }}</span>
                        <span class="product-grid-new-attribute-value">{{item.metafields.my_fields.motor}}</span>
                      </div>
                    </span>
                  </div>
                </div>
            </div>
            <div class="product-grid-new-description">
                <p>{{item.metafields.custom.product_describe}}</p>    
            </div>
            <div class="product-grid-new-line"><hr class="product-information--separator"></div>
            <div class="product-grid-new-buy">
                  <a href="{{ item.url }}" class="button button-buy custom-shop-now">shop now</a>    
            </div>
          </product-card>
        </div>
    </div>
{% endfor %} 
</div>   
</div>
</div>
</div>

<style>
    .product-grid-new-title{
      margin-top:12px;
      font-weight:600;
    }
    .product-grid-new{
        width:100%;
        height:100%;
        margin-top:60px;
        margin-bottom:100px;
    }
    .product-grid-new-item{
        padding:0 6.5px;
        padding-bottom:15px;
    }
    .product-grid-new-block{
        background-color: #fff;
        border-radius: 16px;
        padding:10px 12px;
    }
    .product-grid-new-image{
        background-color:#e7eae9;
        display: flex;
        justify-content: center;
        border-radius: 20px 20px 20px 20px;
    }
    .product-grid-new-image-feature{
      border-radius: 10px;
    }
    .button-buy{
        width: 100%;
        height: 40px;
        background: #325FFF;
        border-radius: 20px 20px 20px 20px;
        opacity: 1;
        text-transform:capitalize;
    }
    .product-grid-new-price-reviews {
        margin-top: 14px;
        margin-bottom: 18px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .product-grid-new-price{
      font-size: 22px;
      font-family: FT Regola Neue Trial-Semibold, FT Regola Neue Trial;
      font-weight: 600;
      color: #000000;
      line-height: 29px;
      -webkit-background-clip: text;
    }
    .product-grid-new-reviews{
      font-size: 12px;
      font-family: FT Regola Neue Trial-Regular, FT Regola Neue Trial;
      font-weight: 400;
      color: #a1a1a1;
      line-height: 15px;
    }
    .product-grid-new-attribute{
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
    }
    .product-grid-new-attribute-content-div{
      display:flex;
    }
    .product-grid-new-attribute-right-div{
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      margin-left: 18px;
    }
    .product-grid-new-attribute-icon{
        width: 42px;
        height: 42px;
    }
    .product-grid-new-attribute-content {
        display: flex;
        flex-wrap: nowrap;
        width: 50%;
        margin-bottom: 18px;
        justify-content: space-around;
    }
    .product-grid-new-attribute-right{
        
    }
    .product-grid-new-attribute-title{
        width: 108px;
        height: 16px;
        font-size: 16px;
        font-family: FT Regola Neue Trial-Regular, FT Regola Neue Trial;
        font-weight: 400;
        color: #a1a1a1;
        line-height: 16px;
        -webkit-background-clip: text;
    }
    .product-grid-new-attribute-value{
        width: 108px;
        height: 16px;
        font-size: 16px;
        font-family: FT Regola Neue Trial-Medium, FT Regola Neue Trial;
        font-weight: 600;
        color: #000000;
        line-height: 35px;
        -webkit-background-clip: text;
    }
  .product-grid-new-description {
    /* margin-top: 10px; */
    height: 210px;
    overflow: hidden;
  }
  .product-grid-new-description p {
    font-size: 16px;
    line-height:24px;
    font-weight: 300;
  }
  #shopify-section-{{section.id}} .jdgm-star{
    color:#ffbc00!important
  }
  @media(max-width:767px){
    .product-grid-new-item{
      /* padding:0 18px; */
      margin-top:14px;
    }
  }
  @media(min-width:768px)and(max-width:1023px){
    .product-grid-new-item{
      max-width: 50%;
      flex: 0 0 50%;
    }
  }
</style>


{% schema %}
  {
    "name": "Product grid new",
    "settings": [
      {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Product grid new"
      },
      {
        "type": "header",
        "content": "icon1",
        "info": "icon1"
      },
      {
        "type": "image_picker",
        "id": "one_image",
        "label": "image"
      },
      {
        "type": "text",
        "id": "one_name",
        "label": "name",
        "default": "Speed"
      },
      {
        "type": "header",
        "content": "icon2",
        "info": "icon2"
      },
      {
        "type": "image_picker",
        "id": "two_image",
        "label": "image"
      },
      {
        "type": "text",
        "id": "two_name",
        "label": "name",
        "default": "Max Range"
      },
      {
        "type": "header",
        "content": "icon3",
        "info": "icon3"
      },
      {
        "type": "image_picker",
        "id": "three_image",
        "label": "image"
      },
      {
        "type": "text",
        "id": "three_name",
        "label": "name",
        "default": "Rate Power"
      },
      {
        "type": "header",
        "content": "icon4",
        "info": "icon4"
      },
      {
        "type": "image_picker",
        "id": "four_image",
        "label": "image"
      },
      {
        "type": "text",
        "id": "four_name",
        "label": "name",
        "default": "Motor"
      }
    ],
    
    "presets":[
      {
        "name":"Product grid new"
      }
    ]
  }
{% endschema %}
