<style>
  	.shane-pro-block06cc08{
  		background-color: #1A1A1A; padding-top: 6vw;    padding-bottom: 6vw;
  	}
  	.shane-pro-block06cc08>div{
  		width: 95%; margin: auto; color: #fff;
  	}
  	.shane-pro-block06cc08 h2{
  		text-align: left; width: calc(100vw* 672 / 1920);  font-size: calc(100vw* 50 / 1920); line-height: calc(100vw* 56 / 1920);margin-top: 0; */
          margin-bottom: 0;
          font-family: Outfit-Bold;
  	}
  	.shane-pro-block06cc08 .stitle{
  		text-align: center; width: 65%; margin: 0 auto 0.6vw; font-size: 1.4vw;
  	}
  	.shane-pro-block06cc08 .info{
  		width:calc(100vw* 883 / 1920); font-size:  calc(100vw* 24 / 1920);opacity: 0.8; text-align: left; height: 5vw; position: relative;

      font-family: Outfit-Light;
          font-weight: 300;
          line-height:  calc(100vw* 30 / 1920); /* 125% */
  	}
  	.shane-pro-block06cc08 .more{
  		width:100%; position: absolute; bottom: 0; left: 0; height: 3vw; text-align: center; background-image: linear-gradient(#00000000, #1A1A1A, #1A1A1A); font-family:"Outfit-Bold";
  	}
  	.shane-pro-block06cc08 a{
  		color:#fff; line-height: 3vw; display: flex; justify-content: center; align-items: center;
  	}
  	.shane-pro-block06cc08 .more span{
  		color: #FF5F00; font-size: 1.4vw;
  	}
  	.shane-pro-block06cc08 .columns{
  		display: flex; justify-content: start; margin-top: 2vw; flex-wrap: wrap;  padding-right: 0; padding-left: 0;
  	}
  	.shane-pro-block06cc08 .columns>div{
  		border:1px solid #fff; border-radius: 0.6vw; overflow: hidden; margin-bottom: 0.8vw;
  	}
      .shane-pro-block06cc08 .columns>div:hover{
          background:#fff;
      }
  	.shane-pro-block06cc08 .equal-two{
  		width: 24.3%; margin-right:calc(100vw* 12 / 1920);
  	}
  	.shane-pro-block06cc08  .columns-img{
  		width: 100%; height: 23vw; position: relative;
  	}
  	.shane-pro-block06cc08  .columns-img img{
  		width:100%; position: absolute; top: 0; left: 0; transition:0.2s;
  	}
  	.shane-pro-block06cc08 .equal-two:hover .columns-img img{
  		animation: moveUpAndDown01 1s ease-in-out infinite;
  	}
  	@keyframes moveUpAndDown01 {
  	  0% {
  		top: 0;
  	  }
  	  50% {
  		top: -10px;
  	  }
  	  100% {
  		top: 0;
  	  }
  	}
  	.shane-pro-block06cc08 .columns-context{
  		width: 88%; margin: 0 auto 1vw;
      position:relative;
  	}
      .shane-pro-block06cc08 .columns>div:hover .growdC{
          color:#FF5F00;
      }

  	.shane-pro-block06cc08 .columns-context .title{
  		display: flex; justify-content: flex-start; align-items: center; font-size: calc(100vw* 20/ 1920); line-height:calc(100vw* 26/ 1920); font-family: "Outfit-Bold";justify-content: space-between;
  	}
      .shane-pro-block06cc08 .columns-context .title .btn{
          width: calc(100vw* 30 / 1920);
          height: calc(100vw* 30 / 1920);
          padding: calc(100vw* 6 / 1920) 0;
          padding-left: calc(100vw* 2 / 1920);
          {% comment %} margin-left: calc(100vw* 10 / 1920); {% endcomment %}
          background:#FF5F00;
          color: #FFF;display: flex;
          font-family: Outfit-Bold;
          border-radius:50%;
          font-size: calc(100vw* 16/ 1920);
          font-weight: 700;
          line-height: calc(100vw* 16/ 1920); /* 100% */
          {% comment %} padding: calc(100vw* 9 / 1920) calc(100vw* 12 / 1920); {% endcomment %}
          transition: 0.3s;

      }
      .shane-pro-block06cc08 .block06cc08-fflex{
          display:flex;
          justify-content: space-between;
      }
      .shane-pro-block06cc08 .columns-context .title .growdC .growdC-p{
          max-width:calc(100vw* 220/ 1920);
          font-family: Outfit-Bold;
      }
      .shane-pro-block06cc08 .columns-context .title .growdC{
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: flex-start;
      }
      .shane-pro-block06cc08 .columns-context .title .btn .btnTxst{
          display:none;
      }
      .shane-pro-block06cc08 .columns-context .title .btn .btnSvg{
          width:calc(100vw* 11/ 1920);
          margin-right: 0;
          height:calc(100vw* 11/ 1920);
      }
      .shane-pro-block06cc08 .columns>div:hover .btn{
          border-radius:calc(100vw* 18/ 1920);
          width: calc(100vw* 114 / 1920);
      }
      .shane-pro-block06cc08 .columns>div:hover .btn>.btnTxst{
          display: inline;
          margin-right:  calc(100vw* 10 / 1920);
      }
      .shane-pro-block06cc08 .columns>div:hover .block06cc08_hover_ico{
          display:inline;
      }
      .shane-pro-block06cc08 .columns>div:hover .block06cc08_ico{
          display:none;
      }
      .shane-pro-block06cc08 .columns-context .block06cc08_hover_ico{
          display:none;
      }
      .shane-pro-block06cc08 .columns-context .block06cc08_ico{
          display:inline;
      }
  	.shane-pro-block06cc08 .columns-context img{
  		width:1.6vw; margin-right: 0.5vw;
  	}
  	.shane-pro-block06cc08 .equal-two .probability{
  		width:100%; border:1px solid #fff; height: 2vw; background-color: #fff; margin-top: 5px; border-radius: 3px; display: flex; justify-content: space-between; text-align: center; font-family: Outfit-Bold;
  	}
  	.equal-two .probability>div:first-child{
  		width: 54%; font-size: 0.8vw; color: #FF5F00; line-height: 0.8vw; display: flex; justify-content: center; align-items: center; flex-wrap: wrap;
  	}
  	.equal-two .probability>div:first-child span{
  		font-size: 0.7vw;
  	}
  	.equal-two .probability>div:last-child{
  		width: 46%; font-size: 1.4vw; color: #fff; background-color: #FF5F00; display: flex; justify-content: center; align-items: center; border-radius: 3px;
  	}
  	.shane-pro-block06cc08 .equal-six{
  		width: 49.5%; position: relative; display: flex; justify-content: flex-start; align-items: center;
  	}
  	.shane-pro-block06cc08 .equal-six>img{
  		width: 60%;
  	}
  	.equal-six>div{
  		position: absolute; top: 16%; right: 5%; width: 17vw; text-align: center;
  	}
  	.equal-six .title{
  		font-size: 2.2vw; text-transform: uppercase; font-family: "Outfit-Bold";
  	}
  	.equal-six .probability{
  		width:95%; margin: 0.6vw auto 1.5vw;
  	}
  	.equal-six .probability>div:first-child{
  		width: 100%; font-size: 0.8vw;
  	}
  	.equal-six .probability>div:last-child{
  		width: 100%; line-height: 5.6vw; font-size: 5vw; font-family:"Outfit-Bold"; background-color: #FF5F00; border-radius: 1vw; margin-top: 0.4vw;
  	}
  	.equal-six .text{
  		font-size: 0.75vw; width:95%; margin: auto;
      }
  @media (max-width: 1300px){
      .shane-pro-block06cc08 .info{
        font-size:1.1vw;
        height:auto;
      }
  }
  @media (max-width: 912px){
      .shane-pro-block06cc08 .equal-two {
        width: 23.2%;
        margin-right: 10px;
    }
  }
  @media (max-width: 768px){
    .shane-pro-block06cc08>div{
  		width: 90%; margin: auto; color: #fff;
  	}
      .shane-pro-block06cc08 .columns-context .title .btn{
        width: fit-content;
        height: fit-content;
        padding: 0;
        margin: 0;
        /* padding-left: calc(100vw* 2 / 430); */
        background: #ff5f00;
        color: #FFF;
        display: flex;
        font-family: Outfit-Bold;
        border-radius: calc(100vw* 21 / 430);
        font-size: calc(100vw* 16 / 430);
        font-weight: 700;
        line-height: calc(100vw* 0 / 430);
        transition: 0.3s;
      }
      .shane-pro-block06cc08 .columns>div:hover .btn>.btnTxst{
          display: none;
      }
      .shane-pro-block06cc08 .columns-context .title .btn .btnSvg{
        margin: calc(100vw* 3 / 430);
        width: calc(100vw* 11 / 430);
        height: calc(100vw* 11 / 430);
      }
      .shane-pro-block06cc08 .columns-context .title .growdC{
        align-items: flex-start;
        max-width: calc(100vw* 140 / 430);
      }
      .shane-pro-block06cc08 .columns>div:hover .btn{
          border-radius: 50%;
           width: calc(100vw* 21 / 430);
      }

      .shane-pro-block06cc08 .columns-context .title .growdC .growdC-p{
          max-width:calc(100vw* 220/ 430);
      }
      .shane-pro-block06cc08 .block06cc08-fflex{
          display: flex;
          justify-content: space-between;
          flex-direction: column;
      }
  	.shane-pro-block06cc08{
  		padding-top: 10vw;
  	}
  	.shane-pro-block06cc08 h2{
  		width: 100%; margin: 0 auto 4vw;
          color: #FFF;
          font-family: "Outfit";
          font-size: calc(100vw* 30 / 430);;
          font-style: normal;
          font-weight: 700;
          line-height: calc(100vw* 34 / 430);; /* 113.333% */
  	}
  	.shane-pro-block06cc08 .stitle{
  		width: 100%; margin: 0 auto 2vw; font-size: 4vw;
  	}
  	.shane-pro-block06cc08 .info{
  		width:100%;
          color: #FFF;
          font-family: "Outfit";
          font-size: calc(100vw* 18 / 430);
          font-style: normal;
          font-weight: 300;
          line-height: normal;
  	}
  	.shane-pro-block06cc08 .more{
  		height: 10vw;
  	}
  	.shane-pro-block06cc08 a{
  		line-height: 10vw;
  	}
  	.shane-pro-block06cc08 .more span{
  		font-size: 3.6vw;
  	}
  	.shane-pro-block06cc08 .columns{
  		margin-top: 6vw; justify-content: space-between;
  	}
  	.shane-pro-block06cc08 .columns>div{
  		border-radius: 1vw; margin-bottom: 2vw;
  	}
  	.shane-pro-block06cc08 .equal-two{
  		width: 48%; margin-right: 0;
  	}
  	.shane-pro-block06cc08  .columns-img{
  		height: 47vw;
  	}
  	.shane-pro-block06cc08 .columns-context{
  		width: 93%; margin: 0 auto 1vw; left: 2%;
  	}
  	.shane-pro-block06cc08 .columns-context .title{
  		color: #FFF;
      font-family: "Outfit";
      font-size: calc(100vw* 16 / 430);;
      font-style: normal;
      font-weight: 700;
      line-height: calc(100vw* 20 / 430);; /* 100% */
      align-items: flex-start
  	}
  	.shane-pro-block06cc08 .columns-context img{
  		width:calc(100vw* 21 / 430); margin-right: 1vw;
  	}
  	.shane-pro-block06cc08 .equal-two .probability{
  		height: 8vw;
  	}
  	.equal-two .probability>div:first-child{
  		font-size: 2.4vw;line-height: 0vw;
  	}
  	.equal-two .probability>div:first-child span{
  		font-size: 2.2vw;
  	}
  	.equal-two .probability>div:last-child{
  		font-size: 5vw;
  	}
  	.shane-pro-block03 .equal-six{
  		width: 100%;
  	}
  	.shane-pro-block03 .equal-six>img{
  		width: 60%;
  	}
  	.equal-six>div{
  		width: 36vw;top: 5%; right: 4%;
  	}
  	.equal-six .title{
  		font-size: 4.6vw;
  	}
  	.equal-six .probability{
  		margin: 0 auto 2vw;
  	}
  	.equal-six .probability>div:first-child{
  		width: 100%; font-size: 3.2vw;
  	}
  	.equal-six .probability>div:last-child{
  		line-height: 9vw; font-size: 6vw; margin-top: 1vw;
  	}
  	.equal-six .text{
  		font-size: 2.4vw; width:100%; margin: auto;
  	}
  }
</style>
<div>
  <div class="block06cc08-fflex">
    <h2>{{ section.settings.heading }}</h2>
    {% comment %} <div class="stitle">{{ section.settings.subheadingheading }}</div> {% endcomment %}
    <div class="info">
      {{ section.settings.text }}
    </div>
  </div>
  <div class="columns">
    {%- assign my_variable = 0 -%}
    {%- for block in section.blocks -%}
      {% assign my_variable = my_variable | plus: 1 %}
      {% if my_variable > 4 %}
        {% assign my_variable = 1 %}
      {% endif %}
      {% comment %}
        {% if my_variable>4 %}
        {% assign \ = my_variable | minus: 4 %}
        {% else %}
        {% assign delay = my_variable | minus: 1 %}
        {% endif %}
      {% endcomment %}
      {% if block.settings.stylewidth == '1' %}
        <div
          class="equal-two wow fadeInUp"
          data-num="{{ my_variable }}"
          data-wow-duration=".5s"
          data-wow-delay=".{{ my_variable }}s"
          data-wow-offset="100"
        >
          <div class="columns-img">
            <picture>
              <source
                media="(max-width: 800px)"
                srcset="{{ block.settings.block_image | image_url: width: 560 }}"
              >
              <img src="{{ block.settings.block_image | image_url: width: 724 }}" loading="lazy">
            </picture>
            {% comment %} <img src="{{ block.settings.block_image | image_url }}" loading="lazy"> {% endcomment %}
          </div>
          <div class="columns-context">
            <div class="title">
              <div class="growdC">
                {% if block.settings.block_image_icon != blank %}
                  <img class="block06cc08_ico" src="{{ block.settings.block_image_icon | image_url }}">
                  <img class="block06cc08_hover_ico" src="{{ block.settings.block_image_hover_icon | image_url }}">
                {% endif %}
                <div class="growdC-p">
                  {{ block.settings.block_title }}
                </div>
              </div>
              <a href="{{ block.settings.slide_link  }}" class="btn">
                <div class="btnTxst">Shop Now</div>
                <img class="btnSvg" src="{{ '5456.svg' | asset_url }}">
                {% comment %}
                  <svg class='btnSvg' xmlns="http://www.w3.org/2000/svg" width="12" height="11" viewBox="0 0 12 11" fill="none">
                    <mask id="mask0_116_2985" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="12" height="11">
                      <path d="M-9.25064e-05 10.0454L11.3154 10.0454L11.3154 0.0185032L-9.31286e-05 0.0185035L-9.25064e-05 10.0454Z" fill="white"/>
                    </mask>
                    <g mask="url(#mask0_116_2985)">
                      <path d="M-9.28175e-05 5.03196L-9.28679e-05 4.21988L7.93425 4.21988C5.97567 4.21988 5.27286 0.0185034 5.27286 0.0185034L7.41378 0.0185033C7.56586 3.06526 11.3154 4.13646 11.3154 4.13646L11.3154 5.92745C11.3154 5.92745 7.56586 6.99902 7.41526 10.0454L5.27433 10.0454C5.27433 10.0454 5.97567 5.84403 7.93572 5.84403L-0.000461839 5.84403L-9.28175e-05 5.03196Z" fill="white"/>
                    </g>
                  </svg>
                {% endcomment %}
              </a>
            </div>
            {% if block.settings.block_text != blank %}
              <div class="probability">
                <div>
                  Probability<br>
                  <span>(Math.)</span>
                </div>
                <div>{{ block.settings.block_text }}</div>
              </div>
            {% endif %}
          </div>
        </div>
      {% else %}
        <div class="equal-six wow fadeInUp" data-wow-duration=".5s" data-wow-delay=".5s" data-wow-offset="100">
          <img src="{{ block.settings.block_image | image_url }}">
          <div>
            <div class="title">{{ block.settings.block_title }}</div>
            <div class="probability">
              <div>Probability(Math.)</div>
              <div>{{ block.settings.block_text }}</div>
            </div>
            <div class="text">{{ block.settings.block_text_02 }}</div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
{% schema %}
{
  "name": "Pro block06cc08",
  "class": "shane-pro-block06cc08",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading"
    },
    {
      "id": "text",
      "type": "textarea",
      "label": "Text"
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "item",
      "settings": [
        {
          "type": "select",
          "id": "stylewidth",
          "options": [
            {
              "value": "1",
              "label": "small"
            },
            {
              "value": "2",
              "label": "Big"
            }
          ],
          "default": "1",
          "label": "Width"
        },
        {
          "type": "image_picker",
          "id": "block_image",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "block_image_icon",
          "label": "Image icon",
          "info": "icon"
        },
        {
          "type": "image_picker",
          "id": "block_image_hover_icon",
          "label": "Image icon hover",
          "info": "icon"
        },
        {
          "type": "text",
          "id": "block_title",
          "label": "Title",
          "default": "Add a title"
        },

        {
          "type": "text",
          "id": "block_text",
          "label": "Probability"
        },
        {
          "type": "text",
          "id": "block_text_02",
          "label": "Text"
        },
        {
          "id": "slide_link",
          "type": "url",
          "label": "Slide link",
          "info": "Adds a link to slide"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Pro block06cc08"
    }
  ]
}
{% endschema %}
