<style>
    
	.shane-pro-block03xv{
		background-color: #1A1A1A; padding-top: 6vw;
	}

    .shane-pro-block03xv .pro-block-flex{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    .shane-pro-block03xv .pro-block-flex .nei-flex{
        display: flex;
        flex-direction: column;
        /* width: 100%; */
        align-items: flex-start;
        margin-right:calc(100vw* 64 / 1920);
    }
    
	.shane-pro-block03xv>div{
		width: 90%; margin: auto; color: #fff;
	}
	.shane-pro-block03xv h2{
		text-align: left; max-width:calc(100vw* 788 / 1920); margin:0; color:#fff;
        color: #FFF;
        font-family: Outfit;
        font-size: calc(100vw* 50 / 1920);
        font-style: normal;
        font-weight: 700;
        line-height: calc(100vw* 56 / 1920); /* 110% */
	}
	.shane-pro-block03xv .stitle{
		text-align: left; width: 65%; margin: 0; font-size: 1.4vw;
	}
	.shane-pro-block03xv .info{
		width: calc(100vw* 704 / 1920);
		/* margin: auto; */
		font-size: calc(100vw* 24 / 1920);
		opacity: 0.8;
		line-height: calc(100vw* 30 / 1920);
		/* font-family: Outfit-Regular; */
		font-family: 'Outfit-Light';
		text-align: left;
		margin: calc(100vw* 20 / 1920) auto 0;
		position: relative;
	}
	.shane-pro-block03xv .more{
		width:100%; position: absolute; bottom: 0; left: 0; height: 3vw; text-align: center; background-image: linear-gradient(#00000000, #1A1A1A, #1A1A1A); font-family: Outfit-Bold;
	}
	.shane-pro-block03xv a{
		color:#fff; line-height: 3vw; display: flex; justify-content: center; align-items: center;
	}
	.shane-pro-block03xv .more span{
		color: #FF5F00; font-size: 1.4vw;
	}
	.shane-pro-block03xv .columns{
		display: flex; justify-content: space-between; margin-top: 2vw; flex-wrap: wrap;display: grid;grid-template-columns: repeat(5, 1fr);grid-gap: calc(100vw* 22 / 1920);
	}
	.shane-pro-block03xv .columns>div{
		border:1px solid #fff; border-radius: 0.6vw; overflow: hidden; margin-bottom: 0.8vw;width: 100%;    padding: 0 calc(100vw* 10 / 1920);
	}
	.shane-pro-block03xv .equal-two{
		width: 16%;
	}
	.shane-pro-block03xv  .columns-img{
		width: 100%; height: 19vw; position: relative;    margin-bottom: calc(100vw* 26 / 1920);
		margin-top: calc(100vw* 22 / 1920);
	}
	.shane-pro-block03xv  .columns-img img{
		width:100%; position: absolute; top: 0; left: 0; transition:0.2s;height: 100%;
	}
	.shane-pro-block03xv .equal-two:hover .columns-img img{
		animation: moveUpAndDown01 1s ease-in-out infinite;
	}
	@keyframes moveUpAndDown01 {
	  0% {
		top: 0;
	  }
	  50% {
		top: -10px;
	  }
	  100% {
		top: 0;
	  }
	}
	.shane-pro-block03xv .columns-context{
		width: 84%; margin: 0 auto 1.5vw; position: relative;
	}	
	.shane-pro-block03xv .columns-context .title{
		display: flex; justify-content: center; align-items: center; font-size: 1.2vw; font-family: Outfit-Bold;color:#FBCB73;
	}
    .shane-pro-block03xv .columns-context .title-svg{
        position: absolute;
        top: calc(100vw* -9 / 1920);
        width: calc(100vw* 254 / 1920);
        height: calc(100vw* 50 / 1920);
	}
	.shane-pro-block03xv .columns-context img{
		width:1.6vw; margin-right: 0.5vw;
	}
	.shane-pro-block03xv .equal-two .probability{
		width:100%; border:1px solid #fff; height: 2vw; background-color: #fff; margin-top: 5px; border-radius: 3px; display: flex; justify-content: space-between; text-align: center; font-family: Outfit-Bold;display: none;
	}
	.equal-two .probability>div:first-child{
		width: 54%; font-size: 0.8vw; color: #FF5F00; line-height: 0.8vw; display: flex; justify-content: center; align-items: center; flex-wrap: wrap;
	}
	.equal-two .probability>div:first-child span{
		font-size: 0.7vw;
	}
	.equal-two .probability>div:last-child{
		width: 46%; font-size: 1.4vw; color: #fff; background-color: #FF5F00; display: flex; justify-content: center; align-items: center; border-radius: 3px;
	}
	.shane-pro-block03xv .equal-six{
		width: 49.5%; position: relative; display: flex; justify-content: flex-start; align-items: center;
	}	
	.shane-pro-block03xv .equal-six>img{
		width: 60%;
	}
	.equal-six>div{
		position: absolute; top: 16%; right: 5%; width: 17vw; text-align: center;
	}
	.equal-six .title{
		font-size: 2.2vw; text-transform: uppercase; font-family: Outfit-Bold;
	}
	.equal-six .probability{
		width:95%; margin: 0.6vw auto 1.5vw;
	}
	.equal-six .probability>div:first-child{
		width: 100%; font-size: 0.8vw;
	}
	.equal-six .probability>div:last-child{
		width: 100%; line-height: 5.6vw; font-size: 5vw; font-family: Outfit-Bold; background-color: #FF5F00; border-radius: 1vw; margin-top: 0.4vw;
	}
	.equal-six .text{
		font-size: 0.75vw; width:95%; margin: auto;
	}
@media (max-width: 1300px){
    .shane-pro-block03xv h2{
		font-size: 3vw; line-height: 4vw;
	}
    .shane-pro-block03xv .info{
        width:85%; height: 8vw; font-size: 1.4vw;
    }
}
@media (max-width: 768px){
    .shane-pro-block03xv .pro-block-flex{
        flex-direction: column;
    }
	.shane-pro-block03xv{
		padding-top: 10vw;
	}
	.shane-pro-block03xv h2{
		width: 100%; margin: 0 auto 2vw; font-size: 5vw; line-height: 6.4vw;
        color: #FFF;
        font-family: "Outfit";
        font-size: calc(100vw* 30 / 430);
        font-style: normal;
        font-weight: 700;
        line-height: calc(100vw* 34 / 430); /* 113.333% */
        max-width: INHERIT;
	}
	.shane-pro-block03xv .stitle{
		width: 100%; margin: 0 auto 2vw; font-size: 4vw;
        color: #FFF;
        font-family: "Outfit-Light";
        font-size: calc(100vw* 20 / 430);
        font-style: normal;
        font-weight: 700;
        line-height: calc(100vw* 24 / 430); /* 120% */
	}
	.shane-pro-block03xv .info{
		width:100%; font-size: 3.6vw; height: 25vw;
        color: #FFF;
        font-family: "Outfit-Light";
        font-size: calc(100vw* 18 / 430);
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        margin:0;

	}
	.shane-pro-block03xv .more{
		height: 10vw;
	}
	.shane-pro-block03xv a{
		line-height: 10vw;
	}
	.shane-pro-block03xv .more span{
		font-size: 3.6vw;
	}
    .shane-pro-block03xv .columns-context .title-svg{
        position: absolute;
        top: calc(100vw* -6 / 430);
        width: calc(100vw* 176 / 430);
        height: calc(100vw* 30 / 430);
    }
	.shane-pro-block03xv .columns{
        grid-gap: calc(100vw* 6 / 430);
        grid-template-columns: repeat(2, 1fr);
	}
	.shane-pro-block03xv .columns>div{
		border-radius: 1vw; margin-bottom: 2vw;
	}
	.shane-pro-block03xv .equal-two{
		width: 32%;
	}
	.shane-pro-block03xv  .columns-img{
		height: 50vw;    margin-bottom: calc(100vw* 26 / 430);
		margin-top: calc(100vw* 22 / 430);
	}
	.shane-pro-block03xv .columns-context{
		width: 96%; margin: 0 auto 4vw; left: 2%;
	}	
	.shane-pro-block03xv .columns-context .title{
		font-size: 3vw;
	}
	.shane-pro-block03xv .columns-context img{
		width:3.4vw; margin-right: 1vw;
	}
	.shane-pro-block03xv .equal-two .probability{
		height: 8vw;
	}
	.equal-two .probability>div:first-child{
		font-size: 2.4vw;line-height: 0vw;
	}
	.equal-two .probability>div:first-child span{
		font-size: 2.2vw;
	}
	.equal-two .probability>div:last-child{
		font-size: 5vw;
	}
	.shane-pro-block03xv .equal-six{
		width: 100%;
	}	
	.shane-pro-block03xv .equal-six>img{
		width: 60%;
	}
	.equal-six>div{
		width: 36vw;top: 5%; right: 4%;
	}
	.equal-six .title{
		font-size: 4.6vw;
	}
	.equal-six .probability{
		margin: 0 auto 2vw;
	}
	.equal-six .probability>div:first-child{
		width: 100%; font-size: 3.2vw;
	}
	.equal-six .probability>div:last-child{
		line-height: 9vw; font-size: 6vw; margin-top: 1vw;
	}
	.equal-six .text{
		font-size: 2.4vw; width:100%; margin: auto;
	}
}
</style>
	<div>
        <div class='pro-block-flex'>
            <h2>{{ section.settings.heading }}</h2>
            <div class='nei-flex'>
                <div class="stitle">{{ section.settings.subheading }}</div>
                <div class="info">
                    {{ section.settings.text }}
                    {% comment %} <div class="more"><a>Read More&nbsp;&nbsp;<span class="fa fa-arrow-circle-down"></span></a></div> {% endcomment %}
                </div>
            </div>
        </div>
        
		<div class="columns">
          {%- assign my_variable = 0 -%} 
          {%- for block in section.blocks -%}
            {% assign my_variable = my_variable | plus: 1 %}
            {% if my_variable>6 %}
            {% assign delay = my_variable | minus: 6 %}
            {% else %}
            {% assign delay = my_variable | minus: 1 %}
            {% endif %}
            {% if block.settings.stylewidth == '1' %}
			<div class="equal-two wow fadeInUp" data-wow-duration=".5s" data-wow-delay=".{{ delay }}s" data-wow-offset="100">
				<div class="columns-img">
					<img src="{{ block.settings.block_image | image_url }}" loading="lazy"> 
					{% comment %} <picture>
						<source
						  media="(max-width: 800px)"
						  srcset="{{ block.settings.block_image | image_url: width: 208,height:254 }}"
						/>
						<img src="{{ block.settings.block_image | image_url: width: 298,height:363 }}" loading="lazy"/>
					  </picture> {% endcomment %}
				</div>	
				<div class="columns-context">
                    <svg  class="title-svg" xmlns="http://www.w3.org/2000/svg" width="256" height="52" viewBox="0 0 256 52" fill="none">
                        <path d="M1 8.93627L8.70281 1.27344H247.297L255 8.93627V43.6106L247.297 51.2734H8.70281L1 43.6106V8.93627Z" stroke="#FBCB73"/>
                      </svg> 
					<div class="title">
                        {% if block.settings.block_image_icon != blank %}
                            <img src="{{ block.settings.block_image_icon | image_url }}">
                        {% endif %} {{ block.settings.block_title }}
                    </div>
					<div class="probability">
						<div>Probability<br><span>(Math.)</span></div>
						<div>{{ block.settings.block_text }}</div>
					</div>
				</div>
			</div>
            {% else %}
			<div class="equal-six wow fadeInUp" data-wow-duration=".5s" data-wow-delay=".5s" data-wow-offset="100">
				<img src="{{ block.settings.block_image | image_url }}">
				<div>
					<div class="title">{{ block.settings.block_title }}</div>
					<div class="probability">
						<div>Probability (Math.)</div>
						<div>{{ block.settings.block_text }}</div>
					</div>
					<div class="text">{{ block.settings.block_text_02 }}</div>
				</div>
			</div>
            {% endif %}            
          {% endfor %}
		</div>	
	</div>
{% schema %}
  {
    "name": "Pro block03xv",
    "class": "shane-pro-block03xv",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading"
	  },
      {
        "type": "text",
        "id": "subheading",
        "label": "Subheading"
	  },
      {
        "id": "text",
        "type": "textarea",
        "label": "Text"
      }   
    ],
    "blocks": [
       {
         "type": "item",
         "name": "item",
         "settings": [
           {
              "type": "select",
              "id": "stylewidth",
              "options": [
                {
                  "value": "1",
                  "label": "small"
                },
                {
                  "value": "2",
                  "label": "Big"
                }
              ],
              "default": "1",
              "label": "Width"
            },
           {
              "type": "image_picker",
              "id": "block_image",
              "label": "Image"
            },
           {
              "type": "image_picker",
              "id": "block_image_icon",
              "label": "Image icon",
              "info": "icon"
            },
           {
              "type": "text",
              "id": "block_title",
              "label": "Title",
              "default": "Add a title"
			},
           {
              "type": "text",
              "id": "block_text",
              "label": "Probability",
              "default": "4/36"
			},
           {
              "type": "text",
              "id": "block_text_02",
              "label": "Text"
			}
         ]
       }
    ],
    "presets": [
       {
        "name": "Pro block03xv"
          
       }
    ]
  }
{% endschema %}
<script>
    $(document).ready(function() {
		$(".shane-pro-block03xv .more").click(function(){
			$(this).css("display","none");
			$(".shane-pro-block03xv .info").css("height","auto");
		});
	});
</script>