<style>
	.shane-pro-advantagecc08{
		width: 100%; padding-top: calc(100vw* 125 / 1920);padding-bottom:calc(100vw* 0 / 1920); 
        padding-left:calc(100vw* 60 / 1920);padding-right:calc(100vw* 60 / 1920);
        color: #fff; background-color: #006DE5;
	}
    .shane-pro-advantagecc08 .advantageMain{

    }
    .shane-pro-advantagecc08 .advantageMain .equal-two{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom:calc(100vw* 37 / 1920);

    }
    .shane-pro-advantagecc08 .advantageMain .equal-two .title{
        color: #FFF;
        text-align: center;
        font-family: Outfit;
        font-size: calc(100vw* 50 / 1920);
        font-style: normal;
        font-weight: 700;
        line-height: calc(100vw* 56 / 1920); /* 112% */
        margin-bottom: calc(100vw* 16 / 1920);
    }
    .shane-pro-advantagecc08 .advantageMain .equal-two .text{
        color: #FFF;
        font-family: Outfit;
        font-size: calc(100vw* 24 / 1920);
        font-style: normal;
        font-weight: 400;
        line-height: calc(100vw* 30 / 1920); /* 125% */
    }
    .shane-pro-advantagecc08 .advantageMain .line{
        width:100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap:calc(100vw* 18 / 1920);
    }
    .shane-pro-advantagecc08 .advantageMain .line .item{
        width:100%;
        border-radius: calc(100vw* 10 / 1920);
        background: #FFF;
        padding: calc(100vw* 23 / 1920);
    }
    .shane-pro-advantagecc08 .advantageMain .line .item img{
        width: calc(100vw* 70 / 1920);
        height: calc(100vw* 67 / 1920);
        flex-shrink: 0;
        margin-bottom: calc(100vw* 68 / 1920);

    }
    .shane-pro-advantagecc08 .advantageMain .line .item .contentFlex .title{
        max-width: calc(100vw* 371 / 1920);
        color: #006DE5;
        font-family: Outfit;
        font-size: calc(100vw* 26 / 1920);
        font-style: normal;
        font-weight: 700;
        color: rgba(0, 109, 229, 0.90);
        line-height: calc(100vw* 36 / 1920); /* 128.571% */
        margin-bottom: calc(100vw* 17 / 1920);
    }
    .shane-pro-advantagecc08 .advantageMain .line .item .contentFlex .text{
        max-width: calc(100vw* 371 / 1920);
        color: rgba(0, 109, 229, 0.90);
        font-family: Outfit;
        font-size: calc(100vw* 22 / 1920);
        font-style: normal;
        font-weight: 400;
        line-height: calc(100vw* 28 / 1920); /* 127.273% */
    }
    .shane-pro-advantagecc08 .advantageMain .line .item .contentFlex{
        display:flex;
        flex-direction: column;
    }
@media (max-width: 768px){
    .shane-pro-advantagecc08{
		width: 100%; padding-top: calc(100vw* 125 / 430);padding-bottom:calc(100vw* 0 / 430); 
        padding-left:calc(100vw* 20 / 430);padding-right:calc(100vw* 20 / 430);
        color: #fff; background-color: #006DE5;
	}
    .shane-pro-advantagecc08 .advantageMain{

    }
    .shane-pro-advantagecc08 .advantageMain .equal-two{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom:calc(100vw* 40 / 430);

    }
    .shane-pro-advantagecc08 .advantageMain .equal-two .title{
        color: #FFF;
        text-align: center;
        font-family: Outfit;
        font-size: calc(100vw* 30 / 430);
        font-style: normal;
        font-weight: 700;
        line-height: calc(100vw* 34 / 430); /* 112% */
        margin-bottom: calc(100vw* 20 / 430);
    }
    .shane-pro-advantagecc08 .advantageMain .equal-two .text{
        color: #FFF;
        font-family: Outfit;
        font-size: calc(100vw* 18 / 430);
        font-style: normal;
        font-weight: 400;
        text-align: center;
        line-height: calc(100vw* 24 / 430); /* 125% */
    }
    .shane-pro-advantagecc08 .advantageMain .line{
        width:100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap:calc(100vw* 4 / 430);
    }
    .shane-pro-advantagecc08 .advantageMain .line .item{
        width:100%;
        border-radius: calc(100vw* 5 / 430);
        background: #FFF;
        padding: calc(100vw* 12 / 430);
    }
    .shane-pro-advantagecc08 .advantageMain .line .item img{
        width: calc(100vw* 50 / 430);
        height: calc(100vw* 50 / 430);
        flex-shrink: 0;
        margin-bottom: calc(100vw* 50 / 430);

    }
    .shane-pro-advantagecc08 .advantageMain .line .item .contentFlex .title{
        max-width: calc(100vw* 169 / 430);
        color: #006DE5;
        font-family: Outfit;
        font-size: calc(100vw* 20 / 430);
        font-style: normal;
        font-weight: 700;
        color: rgba(0, 109, 229, 0.90);
        line-height: calc(100vw* 20 / 430); /* 128.571% */
        margin-bottom: calc(100vw* 14 / 430);
    }
    .shane-pro-advantagecc08 .advantageMain .line .item .contentFlex .text{
        max-width: calc(100vw* 169 / 430);
        color: rgba(0, 109, 229, 0.90);
        font-family: Outfit;
        font-size: calc(100vw* 14 / 430);
        font-style: normal;
        font-weight: 400;
        line-height: calc(100vw* 18 / 430); /* 127.273% */
    }
    .shane-pro-advantagecc08 .advantageMain .line .item .contentFlex{
        display:flex;
        flex-direction: column;
    }
	
}
@media (max-width: 500px){
   
}
</style>
	<div class='advantageMain'>
		<div class="equal-two">
			<div class="title">{{ section.settings.heading }}</div>
			<div class="text">{{ section.settings.context }}</div>
		</div>
        <div class="line">
        {%- for block in section.blocks -%}
            <div class="item">
                <img src="{{ block.settings.block_image | image_url }}">
                <div class="contentFlex">
                    <div class="title">{{ block.settings.block_title }}</div>
                    <p class="text">{{ block.settings.block_text }}</p>
                </div>
            </div>
        {% endfor %}
        </div>
	</div>
{% schema %}
  {
    "name": "Pro advantagecc08",
    "class": "shane-pro-advantagecc08",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading"
	  },
      {
        "type": "textarea",
        "id": "context",
        "label": "Text"
      }     
    ],
    "blocks": [
       {
         "type": "item",
         "name": "item",
         "settings": [
            {
              "type": "image_picker",
              "id": "block_image",
              "label": "Image icon"
            },
            {
              "type": "text",
              "id": "block_title",
              "label": "Title",
              "default": "Add a title"
			},
           {
              "type": "text",
              "id": "block_text",
              "label": "Text",
              "default": "text"
			}
         ]
       }
    ],
    "presets": [
       {
        "name": "Pro advantagecc08"
          
       }
    ]
  }
{% endschema %}
<script>
$(document).ready(function() {
	$(".shane-pro-advantagecc08 .equal-one").mouseenter(function(){
		var shane_width = $(window).width();
		$(".shane-pro-advantagecc08 .equal-one").removeClass("active");
		$(this).addClass("active");	
	});
});
</script>