<style>
	.shane-pro-accessories{
		width:100%; padding-top: 2vw; background-image: linear-gradient( #FF5F00 80%, #F4F0E6 20%); position: relative; color: #fff; font-family: Outfit-Light; overflow: hidden;
	}
	.shane-pro-accessories>div{
		position: absolute;
	}
	.accessories-p1{
		top: 15vw; left: 3vw; width: 20.3vw; z-index: 9; 
	}
	.accessories-p1 img{
		width:100%;
	}
	.accessories-p2{
		top: 15vw; left: 61vw; width: 14vw; z-index: 9;
	}
	.accessories-p2 img{
		width: 80%;
	}
	.accessories-p3{
		top: 22vw; right: 5vw; width: 14vw; z-index: 9;
	}
	.accessories-p3 img{
		width: 80%;
	}
	.accessories-p1-img{
		width: 24vw; top: {{ section.settings.img1_position_top }}vw; left: {{ section.settings.img1_position_left }}vw;
	}
	.accessories-p2-img{
		width: 25vw; top: {{ section.settings.img2_position_top }}vw; left: {{ section.settings.img2_position_left }}vw;
	}
	.accessories-p3-img{
		width: 30vw; top: {{ section.settings.img3_position_top }}vw; right: {{ section.settings.img3_position_right }}vw;
	}
	.accessories-p1-img img, .accessories-p2-img img, .accessories-p3-img img{
		width:100%;
	}
	.accessories-title{
		font-size:2.8vw;
        font-family: Outfit-Bold;
        top: {{ section.settings.heading_top }};
        right: {{ section.settings.heading_right }};
        bottom: {{ section.settings.heading_bottom }};
        left: {{ section.settings.heading_left }};
        width: 35vw;
        text-align: {{ section.settings.heading_alignment }};
        line-height: 3.4vw;
	}
	.shane-pro-accessories h3{
		margin: 0.6vw 0; font-size: 1.4vw; font-family: Outfit-Bold; line-height: 1.6vw;
	}
	.shane-pro-accessories .accessories-text{
		font-size:0.8vw; line-height: 1vw;
	}
	.shane-pro-accessories .accessories-text>div{
		margin-bottom: 0.2vw; display: flex; justify-content: flex-start; align-items: baseline;
	}
	.shane-pro-accessories .accessories-text span{
		font-size: 0.4vw; display: block; margin-right: 0.6vw;
	}
@media (max-width: 768px){
	.shane-pro-accessories{
		padding-top: 50vw; background-image: linear-gradient( #FF5F00 95%, #F4F0E6 5%);
	}
	.accessories-p1{
		top: 22vw; width: 40vw;
	}
	.accessories-p1 img{
		width:100%;
	}
	.accessories-p2{
		top: 22.5vw; left: 55vw; width: 45vw;
	}
	.accessories-p2 img{
		width: 70%;
	}
	.accessories-p3{
		top: 90vw; right: 0; width: 45vw; z-index: 9;
	}
	.accessories-p3 img{
		width: 80%;
	}
	.accessories-p1-img, .accessories-p2-img, .accessories-p3-img{
		display: none;
	}
	.accessories-p1-img img, .accessories-p2-img img, .accessories-p3-img img{
		width:100%;
	}
	.accessories-title{
		font-size: 6vw; width: 75%; left: 3vw; right: auto; text-align: left; line-height: 6vw;
	}
	.shane-pro-accessories h3{
		margin: 2vw 0; font-size: 4.6vw; line-height: 5vw;
	}
	.shane-pro-accessories .accessories-text{
		font-size:3.4vw; line-height: 3.6vw;
	}
	.shane-pro-accessories .accessories-text>div{
		margin-bottom: 2vw;
	}
	.shane-pro-accessories .accessories-text span{
		font-size: 1.6vw; margin-right: 1vw;
	}
 
}
</style>
	<img src="{{ section.settings.image_bg | image_url }}" style="width: 100%;" class="pc_show">
	<img src="{{ section.settings.image_bg_m | image_url }}" style="width: 100%;" class="mobile_show">
	<div class="accessories-p1 item01">
		<img src="{{ section.settings.image1 | image_url }}">
		<h3>{{ section.settings.img1_title }}</h3>
		<div class="accessories-text">
			<div><span class="fa fa-circle"></span> {{ section.settings.img1_text_1 }}</div>
			<div><span class="fa fa-circle"></span> {{ section.settings.img1_text_2 }}</div>
		</div>
	</div>
	<div class="item01 accessories-p1-img"><img src="https://cdn.shopify.com/s/files/1/0679/6538/6990/files/line-01.png?v=1705990776"></div>
	<div class="accessories-p2 item02">
		<img src="{{ section.settings.image2 | image_url }}">
		<h3>{{ section.settings.img2_title }}</h3>
		<div class="accessories-text">
			<div><span class="fa fa-circle"></span> {{ section.settings.img2_text_1 }}</div>
			<div><span class="fa fa-circle"></span> {{ section.settings.img2_text_2 }}</div>
		</div>
	</div>
  {% comment %} 
https://cdn.shopify.com/s/files/1/0679/6538/6990/files/3064.png?v=1726132166{% endcomment %}
	<div class="item02 accessories-p2-img"><img src="https://cdn.shopify.com/s/files/1/0679/6538/6990/files/6677.png?v=1726294719 "></div>
	<div class="accessories-p3 item03">
		<img src="{{ section.settings.image3 | image_url }}">
		<h3>{{ section.settings.img3_title }}</h3>
		<div class="accessories-text">
			<div><span class="fa fa-circle"></span> {{ section.settings.img3_text_1 }}</div>
			<div><span class="fa fa-circle"></span> {{ section.settings.img3_text_2 }}</div>
		</div>
	</div>
	<div class="item03 accessories-p3-img"><img src="https://cdn.shopify.com/s/files/1/0679/6538/6990/files/line-03.png?v=1705990776"></div>
	<div class="accessories-title">{{ section.settings.heading }}</div>
{% schema %}
  {
    "name": "Pro accessories",
    "class": "shane-pro-accessories",
    "settings": [
      {
        "type": "header",
        "content": "Title info."
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading"
	  },
      {
        "type": "text",
        "id": "heading_top",
        "label": "Top size",
        "default": "6vw"
	  },
      {
        "type": "text",
        "id": "heading_left",
        "label": "Left size",
        "default": "auto"
	  },
      {
        "type": "text",
        "id": "heading_right",
        "label": "Right size",
        "default": "5vw"
	  },
      {
        "type": "text",
        "id": "heading_bottom",
        "label": "Bottom size",
        "default": "auto"
	  },
      {
        "type": "text_alignment",
        "id": "heading_alignment",
        "label": "Text alignment",
        "default": "right"
      },
      {
        "type": "image_picker",
        "id": "image_bg",
        "label": "Image bg"
      },
      {
        "type": "image_picker",
        "id": "image_bg_m",
        "label": "Image bg mobile"
      },
      {
        "type": "header",
        "content": "image1 info."
      },
      {
        "type": "image_picker",
        "id": "image1",
        "label": "Image 1"
      },
      {
        "type": "text",
        "id": "img1_title",
        "label": "Image 1 title"
	  },
      {
        "type": "text",
        "id": "img1_text_1",
        "label": "Image1 text 01"
	  },
      {
        "type": "number",
        "id": "img1_position_left",
        "label": "Position Left",
        "default":22
      },
      {
        "type": "number",
        "id": "img1_position_top",
        "label": "Position Top",
        "default":25
      },
      {
        "type": "text",
        "id": "img1_text_2",
        "label": "Image1 text 02"
	  },
      {
        "type": "header",
        "content": "image2 info."
      },
      {
        "type": "image_picker",
        "id": "image2",
        "label": "Image 2"
      },
      {
        "type": "text",
        "id": "img2_title",
        "label": "Image 2 title"
	  },
      {
        "type": "text",
        "id": "img2_text_1",
        "label": "Image2 text 01"
	  },
      {
        "type": "text",
        "id": "img2_text_2",
        "label": "Image2 text 02"
	  },
      {
        "type": "number",
        "id": "img2_position_left",
        "label": "Position Left",
        "default":36
      },
      {
        "type": "number",
        "id": "img2_position_top",
        "label": "Position Top",
        "default":16
      },
      {
        "type": "image_picker",
        "id": "image3",
        "label": "Image 3"
      },
      {
        "type": "text",
        "id": "img3_title",
        "label": "Image 3 title"
	  },
      {
        "type": "text",
        "id": "img3_text_1",
        "label": "Image3 text 01"
	  },
      {
        "type": "text",
        "id": "img3_text_2",
        "label": "Image3 text 02"
	  },
      {
        "type": "number",
        "id": "img3_position_right",
        "label": "Position Right",
        "default":18
      },
      {
        "type": "number",
        "id": "img3_position_top",
        "label": "Position Top",
        "default":27
      }
    ],
    "presets": [
       {
        "name": "Pro accessories"
          
       }
    ]
  }
{% endschema %}