<style> 

@media (min-width: 768px){
    .shane-weapons-of{
        position:relative;
        width: 100%;
        padding:calc(100vw * 51 / 1920) calc(100vw * 60 / 1920);
        background-image: url({{ section.settings.image | image_url}});
        background-size: cover;
    }

    .shane-weapons-of .top-line{
        max-width: calc(100vw * 709 / 1920);    
        margin-top:calc(100vw * 15 / 1920);    
    }

    .shane-weapons-of .top-line .title{
        color: #FFF;
        font-family: Outfit-Bold;
        font-size:  calc(100vw * 50 / 1920);
        font-style: normal;
        font-weight: 700;
        line-height:  calc(100vw * 55 / 1920); /* 110% */
        margin-bottom:  calc(100vw * 20 / 1920);
    }

    .shane-weapons-of .top-line .text{
        color: #FFF;
        font-family: Outfit-Regular;
        font-size:  calc(100vw * 24 / 1920);
        font-style: normal;
        font-weight: 400;
        line-height:  calc(100vw * 30 / 1920); /* 125% */
    }
    .shane-weapons-of .bottom-line{
        margin-top:calc(100vw * 266 / 1920);
        display: grid;
        grid-template-columns: repeat({{ section.blocks.size }}, 1fr);
        grid-gap: calc(100vw * 27 / 1920);
    }
    .shane-weapons-of .bottom-line .line-item{
        
    }
    .shane-weapons-of .bottom-line .line-item img{
        {% comment %} width: calc(100vw * 342 / 1920); {% endcomment %}
        height: calc(100vw * 230 / 1920);
        margin-bottom: calc(100vw * 16 / 1920);
    }
    .shane-weapons-of .bottom-line .line-item .text{

        
    }
    .shane-weapons-of .bottom-line .line-item .text p{
        color: #FFF;
        font-family: Outfit-Regular;
        font-size: calc(100vw * 26 / 1920);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: capitalize;
        
    }
    .shane-weapons-of .bottom-line .line-item .text ul{
        margin-left: calc(100vw * 30 / 1920);
    }
    .shane-weapons-of .bottom-line .line-item .text li{
        color: #FFF;
        font-family: Outfit-Regular;
        font-size: calc(100vw * 26 / 1920);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: capitalize;
    }
    .shane-weapons-of .poction_show{
        position:absolute;
        width: 100%;
        top:0;
        left:0;
        z-index:-1;
    
    }
}

    @media (max-width: 768px){
        .shane-weapons-of{
            position:relative;
            width: 100%;
            padding:calc(100vw * 70 / 430) calc(100vw * 15 / 430);
            background-image: url({{ section.settings.image_m | image_url}});
            background-size: cover;
        }
    
        .shane-weapons-of .top-line{ 
            margin-top:calc(100vw * 270 / 430);    
        }
    
        .shane-weapons-of .top-line .title{
            color: #FFF;
            font-family: Outfit-Bold;
            font-size:  calc(100vw * 30 / 430);
            font-style: normal;
            font-weight: 700;
            line-height:  calc(100vw * 34 / 430); /* 110% */
            margin-bottom:  calc(100vw * 20 / 430);
        }
    
        .shane-weapons-of .top-line .text{
            color: #FFF;
            font-family: Outfit-Regular;
            font-size:  calc(100vw * 18 / 430);
            font-style: normal;
            font-weight: 400;
            line-height:  calc(100vw * 24 / 430); /* 125% */
        }
        .shane-weapons-of .bottom-line{
            margin-top:calc(100vw * 60 / 430);
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
        .shane-weapons-of .bottom-line .line-item{
            
        }
        .shane-weapons-of .bottom-line .line-item img{
            width: calc(100vw * 190 / 430);
            height: calc(100vw * 120 / 430);
            margin-bottom: calc(100vw * 16 / 430);
        }
        .shane-weapons-of .bottom-line .line-item .text{
    
            
        }
        .shane-weapons-of .bottom-line .line-item .text p{
            color: #FFF;
            font-family: Outfit-Regular;
            font-size: calc(100vw * 16 / 430);
            font-style: normal;
            font-weight: 400;
            line-height: calc(100vw * 22 / 430);
            text-transform: capitalize;
            
        }
        .shane-weapons-of .bottom-line .line-item .text ul{
            margin-left: calc(100vw * 30 / 430);
        }
        .shane-weapons-of .bottom-line .line-item .text li{
            color: #FFF;
            font-family: Outfit-Regular;
            font-size: calc(100vw * 16 / 430);
            font-style: normal;
            font-weight: 400;
            line-height: calc(100vw * 22 / 430);
            text-transform: capitalize;
        }
        .shane-weapons-of .poction_show{
            position:absolute;
            width: 100%;
            top:0;
            left:0;
            z-index:-1;
        
        }

    }
</style>
<div class=""> 
        {% comment %} <img src="{{ section.settings.image | image_url}}" alt="" class='pc_show poction_show'>
        <img src="{{ section.settings.image_m | image_url}}" alt="" class="mobile_show poction_show"> {% endcomment %}
        <div class="top-line"> 
            <div class="title">
                {{  section.settings.title }}
            </div>
            <div class="text">
                {{  section.settings.text }}
            </div>
        </div> 
        <div class="bottom-line">
            {% for block in section.blocks %}
                <div class="line-item">
                    <img src="{{ block.settings.block_image | image_url}}" alt="{{ block.settings.block_image.alt}}">
                    <div class="text">
                        {{  block.settings.block_richtext }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% schema %}
  {
    "name": "Weapons Of",
    "class": "shane-weapons-of",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image bg"
	  },
      {
        "type": "image_picker",
        "id": "image_m",
        "label": "Image bg mobile"
	  },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
	  },
      {
        "type": "text",
        "id": "text",
        "label": "Text"
	  },
     
    ],
    "blocks": [
       {
         "type": "item",
         "name": "item",
         "settings": [
            {
                "type": "image_picker",
                "id": "block_image",
                "label": "Image "
            },
            {
                "type": "richtext",
                "id": "block_richtext",
                "label": "text"
            },
         ]
       }
    ],
    "presets": [
       {
        "name": "Weapons Of"
          
       }
    ]
  }
{% endschema %}