
<style>
    @media (min-width: 768px){
        .xv2024-golden>div{
            position:relative;
            width: 100%;
            
        }
        .xv2024-golden .top-line{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-top:  calc(100vw* 72 / 1920);
            
    
        }
        .xv2024-golden .top-line .title{
            color: #FFF;
            font-family: "Outfit";
            font-size: calc(100vw* 50 / 1920);
            font-style: normal;
            font-weight: 700;
            line-height: calc(100vw* 56 / 1920); /* 100% */
            margin-bottom:  calc(100vw* 10 / 1920);
        }
        .xv2024-golden .top-line .content{
            color: #FFF;
            font-family: "Outfit";
            font-size: calc(100vw* 24 / 1920);;
            font-style: normal;
            font-weight: 400;
            line-height: calc(100vw* 25 / 1920);; /* 104.167% */
        }
        .xv2024-golden .left-line{
            position: absolute;
            top: calc(100vw* 273 / 1920);
            left: calc(100vw* 109 / 1920);
            max-width: calc(100vw* 389 / 1920);
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
        }
        .xv2024-golden .left-line img{ 
            width: 100%;
          
        }
        .xv2024-golden .left-line .title{
            color: #FFF;
            font-family: "Outfit";
            font-size: calc(100vw* 26 / 1920);
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin-bottom:calc(100vw* 12 / 1920);
            margin-top:calc(100vw* 12 / 1920);
        }
    
        .xv2024-golden .left-line .content{
            color: #FFF;
            font-family: "Outfit";
            font-size: calc(100vw* 14 / 1920);
            font-style: normal;
            font-weight: 300;
            line-height: normal;
        }
    
    
        .xv2024-golden .right-line{
            position: absolute;
            top: calc(100vw* 282 / 1920);
            right: calc(100vw* 172 / 1920);
            max-width: calc(100vw* 320 / 1920);
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
        }
        .xv2024-golden .right-line img{ 
            width: 100%;
          
        }
        .xv2024-golden .right-line .title{
            color: #FFF;
            font-family: "Outfit";
            font-size: calc(100vw* 26 / 1920);
            font-style: normal;
            font-weight: 700;
            line-height: calc(100vw* 26 / 1920); /* 100% */
            
            margin-bottom:calc(100vw* 10 / 1920);
            margin-top:calc(100vw* 21 / 1920);
        }
    
        .xv2024-golden .right-line .content{
            color: #FFF;
            font-family: "Outfit";
            font-size: calc(100vw* 18 / 1920);
            font-style: normal;
            font-weight: 400;
            line-height: calc(100vw* 25 / 1920); /* 138.889% */
        
        }
    }
    @media (max-width: 768px){
        .xv2024-golden>div{
            position:relative;
            width: 100%;
            
        }
        .xv2024-golden .top-line{
            position: absolute;
            top: calc(100vw* 80 / 430);
            left: 0;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-top:  calc(100vw* 0 / 430);
            
    
        }
        .xv2024-golden .top-line .title{
            max-width: calc(100vw* 390 / 430);
            color: #FFF;
            font-family: "Outfit";
            font-size: calc(100vw* 30 / 430);
            font-style: normal;
            font-weight: 700;
            line-height: calc(100vw* 34 / 430); /* 100% */
            margin-bottom:  calc(100vw* 20 / 430);
            text-align: center;
        }
        .xv2024-golden .top-line .content{
            max-width: calc(100vw* 350 / 430);
            color: #FFF;
            font-family: "Outfit";
            font-size: calc(100vw* 18 / 430);;
            font-style: normal;
            font-weight: 400;
            line-height: calc(100vw* 24 / 430);; /* 104.167% */
        }
        .xv2024-golden .left-line{
            position: absolute;
            top: calc(100vw* 232 / 430);
            left: calc(100vw* 22 / 430);
            max-width: calc(100vw* 384 / 430);
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
        }
        .xv2024-golden .left-line img{ 
            width: calc(100vw* 384 / 430);
            height: calc(100vw* 242 / 430);
        
        }
        .xv2024-golden .left-line .title{
            color: #FFF;
            font-family: "Outfit";
            font-size: calc(100vw* 20 / 430);
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin-bottom:calc(100vw* 12 / 430);
            margin-top:calc(100vw* 12 / 430);
        }
    
        .xv2024-golden .left-line .content{
            color: #FFF;
            font-family: "Outfit";
            font-size: calc(100vw* 16 / 430);
            font-style: normal;
            font-weight: 300;
            line-height: normal;
        }
    
    
        .xv2024-golden .right-line{
            position: absolute;
            top: calc(100vw* 626 / 430);
            left: calc(100vw* 22 / 430);
            max-width: calc(100vw* 384 / 430);
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
        }
        
        .xv2024-golden .right-line img{ 
            width: calc(100vw* 384 / 430);
            height: calc(100vw* 242 / 430);
        
        }
        .xv2024-golden .right-line .title{
            color: #FFF;
            font-family: "Outfit";
            font-size: calc(100vw* 20 / 430);
            font-style: normal;
            font-weight: 700;
            line-height: calc(100vw* 24 / 430); /* 100% */
            
            margin-bottom:calc(100vw* 10 / 430);
            margin-top:calc(100vw* 21 / 430);
        }
    
        .xv2024-golden .right-line .content{
            color: #FFF;
            font-family: "Outfit";
            font-size: calc(100vw* 16 / 430);
            font-style: normal;
            font-weight: 400;
            line-height: calc(100vw* 20 / 430); /* 138.889% */
        
        }
    
    }
    
</style>

<div > 
    <img src="{{ section.settings.block_image | image_url }}"  loading="lazy"  style="width: 100%;" class="pc_show">
    <img src="{{ section.settings.block_mb_image | image_url}}" loading="lazy"  style="width: 100%;" class="mobile_show">
    <div class="top-line">
        <div class='title'>
            The Golden Lagoon: Radiant Battle
        </div>
        <div class='content'>
            Glowing Battles and Radiant Heroics
        </div>
    </div>
    <div class="left-line">
        <img src="{{ section.settings.block_left_image | image_url }}" >
        <div class='title'>
            {{ section.settings.line_left_text  }}
        </div>
        <div class='content'>
            {{ section.settings.line_left_content  }}
        </div>
    </div>
    <div class="right-line">
        {% if section.settings.block_right_image %}
            <img src="{{ section.settings.block_right_image | image_url }}" >
        {% endif %}
        <div class='title'>
            {{ section.settings.line_right_text  }}
        </div>
        <div class='content'>
            {{ section.settings.line_right_content  }}
        </div>
    </div>
 

</div>

{% schema %}
    {
        "name": "Xv2024 Golden",
        "class": "xv2024-golden",
        "settings": [
            {
				"type": "image_picker",
				"id": "block_image",
				"label": "Image"
			},
            {
				"type": "image_picker",
				"id": "block_mb_image",
				"label": "mb Image"
			},
            {
				"type": "text",
				"id":"line_text",
				"label": "Line Text"
			},
			{
				"type": "text",
				"id":"line_content",
				"label": "Line Content"
			},
            {
				"type": "image_picker",
				"id": "block_left_image",
				"label": "left Image"
			},
            {
				"type": "text",
				"id":"line_left_text",
				"label": "Line left Text"
			},
			{
				"type": "text",
				"id":"line_left_content",
				"label": "Line left Content"
			},
            {
				"type": "image_picker",
				"id": "block_right_image",
				"label": "right Image"
			},
            {
				"type": "text",
				"id":"line_right_text",
				"label": "Line right Text"
			},
			{
				"type": "text",
				"id":"line_right_content",
				"label": "Line right Content"
			},
        ],
        "blocks": [
            {
                "type": "msimg",
                "name":"msimg",
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "block_line_image",
                        "label": "Image"
                    }
                ]
            }

        ],
        "presets": [
            {
             "name": "Xv2024 Golden"
               
            }
         ]
    }
{% endschema %}